
.add-button
{
	-fx-background-color: #9AF995;
	-fx-font: normal 14px "Calibri";
	-fx-text-fill: #000;
	-fx-pref-height: 200;
}

.add-button:hover
{
	-fx-background-color: #43F83A;
	-fx-font: normal 14px "Calibri";
	-fx-text-fill: #000;
	-fx-translate-y: -1;
}

.background
{
	-fx-background-color: #272B30;
}
.button
{
	-fx-padding: 0.5em;
	-fx-pref-width: 145px;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri";
	-fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #7CC978 0%, #7CC978 100%),
        #7CC978,
        #7CC978,
        radial-gradient(center 50% 50%, radius 100%, #9AF995, #9AF995);
    -fx-text-fill: #000;	
}

.button:disabled, .button-delete:disabled 
{
	-fx-padding: 0.5em;
	-fx-pref-width: 145px;
    -fx-font-size: 20px;
    -fx-text-fill: #8D8D8D;  
    -fx-background-radius: 0;
    -fx-font-family: "Calibri";
    -fx-alignment: center ;
    -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #8D8D8D 0%, #8D8D8D 100%),
        #8D8D8D,
        #8D8D8D,
        radial-gradient(center 50% 50%, radius 100%, #C6C6C6, #B8B8B8);
	    
}

.button:hover ,.button:focused, .button:armed
{
/*dropshadow(<blur-type>, <color>, <radius>, <spread>, <x-offset>, <y-offset>)*/
    -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
    -fx-translate-y: 2px;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #009900 0%, #009909 100%),
        #009900,
        #009909,
        radial-gradient(center 50% 50%, radius 100%, #43F83A, #33C12C);
    -fx-effect: dropshadow( gaussian , #000 , 4,0,0,1 );
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.button:default
{
	-fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #7CC978 0%, #7CC978 100%),
        #7CC978,
        #7CC978,
        radial-gradient(center 50% 50%, radius 100%, #9AF995, #9AF995);
    -fx-text-fill: #000;
}

.button-delete
{
	-fx-padding: 0.5em;
	-fx-pref-width: 145px;
	-fx-background-color: #F57E54;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri";
    -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
	-fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #F96530 0%, #E15929 100%),
        #F96530,
        #E15929,
        radial-gradient(center 50% 50%, radius 100%, #F57E54, #F57E54);
    -fx-background-radius: 0;
    -fx-text-fill: #000;
}

.button-delete:hover, .button-delete:focused, .button-delete:pressed
{
    -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
    -fx-translate-y: 2px;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #E65334 0%, #CC492E 100%),
        #CC492E,
        #CC492E,
        radial-gradient(center 50% 50%, radius 100%, #F85B3A, #F85B3A);
    -fx-effect: dropshadow( gaussian , #000 , 4,0,0,1 );
    -fx-text-fill: #000;
    -fx-font-weight: bold;	
}

.button-delete:default
{
	-fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 0;
	-fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #F96530 0%, #E15929 100%),
        #F96530,
        #E15929,
        radial-gradient(center 50% 50%, radius 100%, #F57E54, #F57E54);
    -fx-background-radius: 0;
    -fx-text-fill: #000;
}

.check-box .box 
{
	-fx-background-color: #E8E8E8;
	-fx-background-radius: 10;
}

.check-box
{
	-fx-text-fill: #fff;
	-fx-font-size: 1.2em;
}

.check-box:hover .box
{
	-fx-border-radius: 9;
	-fx-border-width: 2px;
	-fx-border-color: #43F83A;
}

.check-box:selected .box 
{

	-fx-background-color: #E8E8E8;
	-fx-border-radius: 9;
	-fx-border-width: 2px;
	-fx-border-color: #707070;
}

.combo-box .arrow
{
	-fx-background-color:#242424;
	-fx-border-color: #242424;
}

.combo-box .arrow-button:hover
{
	-fx-background-color: #43F83A;
	-fx-background-radius:0;
	
}
.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, 
.combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: red;
    -fx-background-color: #43F83A;
    -fx-text-fill: yellow;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.ghost-text-field,
.ghost-text-field:hover .text-field,
.ghost-text-field:active .text-field
{
	-fx-background-color: transparent ;
	-fx-translate-x: 0;
	-fx-translate-y: 0;
	-fx-border-width: 0;
	-fx-pref-height: 0em;
	-fx-border-color: transparent ;
	-fx-background-radius: 15;
	-fx-background-color:0;
	-fx-opacity: 0;
}

.ghost-text-field:armed, .ghost-text-field:focused
{
	-fx-border-width: 0;
	-fx-pref-height: 0em;
	-fx-border-color: transparent ;
	-fx-background-radius: 15;
	-fx-background-color:0;
	-fx-opacity: 1;
}

.image-main-menu
{
	
} 
.image-main-menu:hover
{
	-fx-cursor: hand;
	-fx-opacity:0.5;
}

.lable-green
{
	-fx-text-fill: #9AF995;
	-fx-font:normal 20px "Calibri";
}

.letters
{
	-fx-text-fill: #fff;
	-fx-font-size: 20px;
	-fx-font-family: "Calibri";
	
}

.list
{
	-fx-background-color: transparent ;
}

.list-lable
{
	-fx-background-color: #E0E0E0;
	-fx-text-fill: #000;
	-fx-padding: 0 0 0 10px;
	-fx-font-size: 14px;

}

.list-button
{
	-fx-background-color: transparent ;
	-fx-text-fill: #E0E0E0;
	-fx-font-family: "Calibri";
    -fx-alignment: center ;
    -fx-font-size: 20px;
}

.list-button:hover
{
	-fx-background-color: transparent ;
	-fx-text-fill: #43F83A;
	-fx-font-weight: bold;
	-fx-translate-y: 0px;
	/*-fx-border-color:  transparent  transparent #43F83A  transparent;
	-fx-border-width: 2px;*/
}

.list-borders
{
	-fx-border-color: red transparent red transparent;
	-fx-border-width: 2px;
	
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white;
}
.list-cell { -fx-text-fill: blue;}
.list-cell:odd { -fx-background-color: yellow;}
.list-cell:even { -fx-background-color: green; }
.list-cell:filled:hover { 
    -fx-background-color: aqua;
    -fx-text-fill: red;
}

.login-box
{
	-fx-background-color: #2E3338;
	-fx-border-color: #707070;
	-fx-border-width: 2px;
}



.login-box-lable
{
	-fx-text-fill: #9AF995;
	-fx-background-color: #242424;
	-fx-border-color: #707070 #707070 transparent #707070;
	-fx-border-width: 2px;
	-fx-font:normal 20px "Calibri";
	-fx-padding: 0 0 0 10;
}

.menu-bar 
{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
}

 .menu-bar .label
{
    -fx-font-size: 16px;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #808080;
    -fx-font-weight: bold; 
    -fx-padding: 10px;
    
}

.menu-bar .label:hover
{
    -fx-text-fill: #43F83A;
}

.menu-bar .menu-button:hover , .menu-bar .menu-button:focused, .menu-bar .menu-button:showing 
{
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent #43F83A transparent;
    -fx-translate-y: -0.4em;
    -fx-text-fill: #43F83A;
    -fx-background-color: transparent ;
    
}

.menu-bar .menu-button {
	-fx-border-color: transparent transparent #C6C6C6 transparent;
	-fx-text-fill: red;
}
.menu-button:showing .label
{
	-fx-text-fill: #43F83A;
}
.menu-bar .menu-button:showing .context-menu .label
{
    -fx-font-size: 16px;
    -fx-text-fill: #525252;
    
}

.menu-bar .menu-button:showing .menu-item:hover .label,
.menu-bar .menu-button:showing .menu-item:focused .label
{
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian , #000 , 6,0,0,1 ); 
    
}

.menu-bar .menu-item:hover,.menu-bar .menu-item:focused
{
    -fx-background-color: #43F83A;
    -fx-text-fill: #fff;
    
}

.context-menu 
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0.2px;
    -fx-border-color: #F3F3F3;
    -fx-text-fill: purple ;
    -fx-background-insets: 0.0, 1.0, 2.0;
    /*-fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;*/
    -fx-background-radius:0;
}

.my-icon
{
	-fx-label-padding: 5px;
	-fx-background-color: #E4E7E7;
	-fx-background-radius: 15;

}

.my-icon:hover
{	
	-fx-cursor: hand;
	-fx-border-color: #43F83A;
	-fx-border-width: 2px;
	-fx-border-radius: 14;
	-fx-font-weight:bold;
	-fx-text-fill: #9AF995;
	-fx-font-size: 14px;
	-fx-font-family: "Calibri";
	-fx-background-color: #fff;
}

.my-second-icon:hover
{
	-fx-background-color: #fff;
	-fx-opacity: 0.0;
	-fx-cursor: hand;
}

.my-label
{
	-fx-text-fill: #000;
	-fx-font-size: 14px;
	-fx-font-family: "Calibri";
	-fx-padding: 15 0 0 0;

}

.my-label:hover
{
	-fx-font-weight:bold;
	-fx-text-fill: #43F83A;
}

.navigation-bar
{
	-fx-text-fill: #9AF995;
	-fx-background-color: #242424;
	-fx-border-color: #707070;
	-fx-border-width: 2	px;
	-fx-padding: 5 0 0 0;
	
}

.scroll-pane {
    -fx-background-color: #272B30;
}

.scroll-bar:horizontal, .scroll-bar:vertical
{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button 
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track
{
    -fx-background-color: grey;
    -fx-border-color: transparent;
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb 
{
    -fx-background-color: white;
    -fx-opacity: 0.2;
    -fx-background-radius: 0;
}

.scroll-pane > .corner {
    -fx-background-color: #272B30;
}

.search-box
{
	-fx-background-radius: 15;
	-fx-background-color: #F3F3F3;
	-fx-pref-width: 180px;
	/*-fx-border-color: transparent transparent #8D8D8D transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 13;*/
}

.search-box:hover, .search-box:focused
{
	-fx-effect: dropshadow(gaussian,#8D8D8D,4,0,0,1);
	-fx-border-radius: 15;
	-fx-border-width: 2px;
	-fx-border-width: 2px;
	-fx-pref-height: 0em;
	-fx-border-color: #43F83A;
	-fx-translate-x: 0px;
	-fx-translate-y: 0px;
}

.search-button
{
	-fx-background-color: transparent ;

}

.search-button:hover
{
	-fx-background-color: transparent;
	-fx-effect: innershadow(gaussian,#43F83A,9,0,0,1);
}

.search-icon
{
	-fx-background-color: transparent;
	-fx-translate-y: 2;
}

.search-icon:hover, .search-icon:focused, .search-icon:active
{
	-fx-background-color: transparent;
	-fx-translate-y: 3;
	-fx-effect: innershadow(gaussian,#43F83A,9,0,0,1);
}

.smallletter
{
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
	-fx-font-family: "Calibri";
}

.split-pane:vertical, .split-pane-divider
{
	-fx-border-style: none;
	-fx-border-color: transparent ;
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view
{
	-fx-background-color: aqua;
}

.text-field
{
	-fx-background-radius: 0;
	-fx-pref-height: 40px;
	-fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-color: 
        linear-gradient(from 0% 100% to 0% 93%, #8D8D8D 0%, #8D8D8D 100%),
        #8D8D8D,
        #8D8D8D,
        radial-gradient(center 50% 50%, radius 100%, #F3F3F3, #F3F3F3);
}

.text-field:hover, .text-field:focused
{
	-fx-border-width: 3px;
	-fx-pref-height: 3.5em;
	-fx-border-color: #43F83A;
	-fx-background-radius: 0;
	-fx-background-color:#F3F3F3;
}

.text-field:active
{
	-fx-border-width: 3px;
	-fx-pref-height: 3.5em;
	-fx-border-color: #9AF995;
	-fx-background-radius: 0;
}

.user-box, .user-box:focused, .user-box:armed, .user-box:hover:armed, .user-box:visited, .user-box:visited:armed
{
	-fx-background-color: transparent ;
	-fx-text-fill:#EBEBEB;
	-fx-font-size: 16px;
	-fx-font-family: "Calibri";
	-fx-pref-width: 200px;
	-fx-padding:5 5 5 5 ;
}

.user-box-exit, .user-box-exit:focused, .user-box-exit:armed
{
	-fx-background-color: transparent ;
	-fx-text-fill:#EBEBEB;
	-fx-font-size: 16px;
	-fx-font-family: "Calibri";
	-fx-pref-width: 200px;
	-fx-border-width: 2px;
	-fx-padding:5 5 5 5 ;
	-fx-border-color: transparent  transparent transparent #EBEBEB;
}

.user-box-exit:hover
{
	-fx-background-color: transparent ;
	-fx-text-fill:#43F83A;
	-fx-font-size: 16px;
	-fx-font-family: "Calibri";
	-fx-pref-width: 200px;
	-fx-font-weight:bold;
}

.user-box:hover, .user-box:hover:armed, .user-box:hover:visited
{
	-fx-background-color: transparent ;
	-fx-text-fill:#43F83A;
	-fx-font-size: 16px;
	-fx-font-family: "Calibri";
	-fx-pref-width: 200px;
	-fx-font-weight:bold;
}

.welcome-msg
{
	-fx-text-fill: #9AF995;
	-fx-font: normal bold 20px "Calibri";
}

.welcome-msg-small
{
	-fx-text-fill: #F2F2F2;
	-fx-font: normal 14px "Calibri";
}

